body {
    background: radial-gradient(ellipse at center,#0d0d0d 0%,#000);
    color: #ffe4b5;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #ff0066;
    font-size: 3em;
    text-shadow: 2px 2px 8px #ffcc00;
    margin-bottom: 15px;
}

p {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 12px;
    font-size: 1.1em;
    box-shadow: 0 0 15px #ffcc00;
    margin-bottom: 25px;
}

img {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 0 0 25px #ffcc00;
}

a {
    display: inline-block;
    padding: 12px 25px;
    background: #f00;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
    box-shadow: 0 0 10px #ffcc00;
    font-weight: bold;
}

a:hover {
    background: green;
    box-shadow: 0 0 15px #32cd32;
}
